<% var message; if(message){%>
  <div class="alert alert success" role="alert">
    <%= message %> 
  </div>
<% } %> 


<style>
body 
{
  font-family:Arial; 
  background: -webkit-linear-gradient(to right, #155799, #159957); 
  background: linear-gradient(to right, #155799, #159957); 
  color:whitesmoke;
      
}
 h2
 {
  text-align: center;
 }  
  
table, th, td 
{
  border: 1px solid black;
  border-collapse: collapse;
}

th, td 
{
  padding: 5px;
  text-align: center;
}

.button 
{
  background-color: black;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

button:hover 
{
  opacity: 0.6;
  cursor: pointer;
  border: 2px solid white;
}


</style>

<h2>Reservation Details</h2>


<table style="width:100%">
  <tbody>
    
      <tr>
        <th>Room No</th>
        <th>Employee Name</th>
        <th>Employee Email</th>
        <th>Employee Phone</th>
        <th>Date</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th></th>
      </tr>
      <% if(data.length){ for(var i=0; i<data.length; i++){%>
      <tr>
        <td><%= data[i].roomNo %></td>
        <td><%= data[i].empName %></td>
        <td><%= data[i].empEmail %></td>
        <td><%= data[i].empPhone %></td>
        <td><%= data[i].date %></td>
        <td><%= data[i].startTime %></td>
        <td><%= data[i].endTime %></td>
        <td><a href="/delete/deleteBooking?empName=<%= data[i].empName %> ">Delete</a>
            <a href="/update/updateBooking?empName=<%= data[i].empName %> ">Update</a></td>
      </tr>
      
<% }}else{ %>
  <tr>
    <td colspan="3"> No user</td>
    </tr>
    <% } %> 
    
  </tbody>
  
</table>



